body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f4f9;
}

.home-container {
  display: flex;
  height: 100vh; /* Ensure the container takes up the full height of the viewport */
  width: 100vw; /* Ensure the container takes up the full width of the viewport */
}

.sidebar {
  width: 250px; /* Fixed width for the sidebar */
  background-color: #678F74;;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
  margin-top: 20px;
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Push the footer to the bottom */
}

.sidebar ul li {
  margin: 15px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #0056b3;
}

.main-content {
  flex: 1; /* Take up the remaining space */
  padding: 20px;
  overflow-y: auto; /* Allow scrolling if content overflows */
  background-color: #f4f4f9;
}

.main-content header {
  background-color: #85ada4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.main-content h1 {
  margin: 0;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form div {
  margin-bottom: 15px;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.form button:hover {
  background-color: #dbe8e4;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  flex: 1.2;
  margin: 0 15px;
  padding: 30px;
  text-align: center;
  background-color: #678F74;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  height: 20px; 
}

.card:hover {
  transform: translateY(-5px);
  background-color: #0e443c;
}
section {
  background-color: #CDE6CD; /* Light blue background color */
  padding: 20px; /* Add some padding for spacing */
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  margin-top: 20px; /* Add spacing above the section */
}

.register-container {
  /* background-color: #678F74; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 1000px;
}

label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #000;
}

input {
  padding: 8px;
  margin-top: 5px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

button {
  grid-column: span 3;
  padding: 12px;
  background-color: #50796D; /* similar tone to the background */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.visit-container {
  /* background-color: #678F74; */
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.visit-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
}

.visit-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

.visit-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.visit-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.visit-form button:hover {
  background-color: #0056b3;
}

.checkbox-label {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkbox-group {
  display: flex;
  gap: 20px;
  align-items: center;
  grid-column: span 3;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.search-results li {
  padding: 8px;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

